{% extends 'index.html' %}
{% load static %}
{% block content %}
    <script>
        $(document).ready(function() {
          $('#table').DataTable();
        });
    </script>

		<h1>Catalogue produits</h1>
		<div> 
			<table id="table" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th scope="col">Code produit</th>
						<th scope="col">Prix</th>
						<th scope="col">Famille Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Packaging</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>{{ product.codeProduit}}</td>
							<td>{{ product.prix }}</td>
							<td>{{ product.familleProduit }}</td>
							<td>{{ product.quantiteMin }}</td>
							<td>{{ product.packaging }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>	
	 	</div>
		<a class="btn btn-primary" href="{% url 'business-intelligence:get_catalogue'%}">Update</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:delete_catalogue_produit'%}">Delete Catalogue Produit DB</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:scheduler_catalogue_produit'%}">Automatically update Catalogue Produit DB</a>
{% endblock %}