{% extends 'index.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid  dashboard-content">
        <h2 class="mb-2"><b>Catalogue Produit</b></h2>

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Produits</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">{{ products_count }}</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">--%</span>
                    </div>
                </div>
            </div>
        </div>
		<div> 
			<table id="table" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th scope="col">Code produit</th>
						<th scope="col">Prix Fournisseur</th>
                        <th scope="col">Prix</th>
						<th scope="col">Famille Produit</th>
						<th scope="col">Quantité</th>
						<th scope="col">Packaging</th>
					</tr>
				</thead>
				<tbody>
					{% for product in products %}
						<tr>
							<td>{{ product.codeProduit}}</td>
                            <td>{{ product.prixFournisseur }}</td>
							<td>{{ product.prix }}</td>
							<td>{{ product.familleProduit }}</td>
							<td>{{ product.quantiteMin }}</td>
							<td>{{ product.packaging }}</td>
						</tr>
					{% endfor %}
					<div class="pagination">
	                    <span class="step-links">
	                        {% if products.has_previous %}
	                            <a href="?page=1">&laquo; first</a>
	                            <a href="?page={{ products.previous_page_number }}">previous</a>
	                        {% endif %}

	                        <span class="current">
	                            Page {{ products.number }} of {{ products.paginator.num_pages }}.
	                        </span>

	                        {% if products.has_next %}
	                            <a href="?page={{ products.next_page_number }}">next</a>
	                            <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
	                        {% endif %}
	                    </span>
                	</div>
				</tbody>
			</table>	
	 	</div>
    </div>
    <a class="btn btn-primary" href="{% url 'business-intelligence:get_catalogue'%}">Update</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:delete_catalogue_produit'%}">Delete Catalogue Produit DB</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:scheduler_catalogue_produit'%}">Automatically update Catalogue Produit DB</a>
{% endblock %}