{% extends 'index.html' %}
{% block content %}
	<div class="container-fluid  dashboard-content">
        <h2 class="mb-2"><b>CRM</b></h2>
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Clients Fidélisés</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">{{ customers_count }}</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">--%</span>
                    </div>
                </div>
            </div>
        </div>
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Email</th>
					<th scope="col">Panier moyen</th>
                    <th scope="col">Carte de Fidélité</th>
				</tr>
			</thead>
			<tbody>
				{% for customer in customers %}
					<tr>
						<td>{{ customer.Prenom}}</td>
						<td>{{ customer.Nom }}</td>
						<td>{{ customer.Email }}</td>
						<td>{{ customer.PanierMoyen }}</td>
                        <td>{{ customer.carteFid }}</td>
                    </tr>
				{% endfor %}
				<div class="pagination">
                    <span class="step-links">
                        {% if customers.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ customers.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ customers.number }} of {{ customers.paginator.num_pages }}.
                        </span>

                        {% if customers.has_next %}
                            <a href="?page={{ customers.next_page_number }}">next</a>
                            <a href="?page={{ customers.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
			</tbody>
		</table>
	 </div>
	<a class="btn btn-primary" href="{% url 'business-intelligence:get_crm'%}">Update</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:delete_crm'%}">Delete CRM DB</a>
        <a class="btn btn-primary" href="{% url 'business-intelligence:scheduler_crm'%}">Automatically update CRM DB</a>

{% endblock %}
