{% extends 'index.html' %}
{% block content %}
	<h1>Crm</h1>
	<div>	
		
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Point de fidélité</th>
					<th scope="col">Paiement</th>
					<th scope="col">Compte</th>
				</tr>
			</thead>
			<tbody>
				{% for customer in customers %}
					<tr>
						<td>{{ customer.firstName}}</td>
						<td>{{ customer.lastName }}</td>
						<td>{{ customer.fidelityPoint }}</td>
						<td>{{ customer.payment }}</td>
						<td>{{ customer.account }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	 </div>
	<a class="btn btn-primary" href="{% url 'business-intelligence:get_crm'%}">Update</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:delete_crm'%}">Delete CRM DB</a>
        <a class="btn btn-primary" href="{% url 'business-intelligence:scheduler_crm'%}">Automatically update CRM DB</a>

{% endblock %}
