{% extends 'index.html' %}
{% block content %}
	<h1>Crm</h1>
	<div>	
		<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Clients Fidélisés</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">{{ fidcustomers }}</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">--%</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <h5 class="card-header">Clients</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">{{ customers.count }}</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">--%</span>
                    </div>
                </div>
            </div>
        </div>
		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">Prénom</th>
					<th scope="col">Nom</th>
					<th scope="col">Point de fidélité</th>
					<th scope="col">Paiement</th>
					<th scope="col">Compte</th>
                    <th scope="col">Carte de Fidélité</th>
				</tr>
			</thead>
			<tbody>
				{% for customer in customers %}
					<tr>
						<td>{{ customer.Prenom}}</td>
						<td>{{ customer.Nom }}</td>
						<td>{{ customer.Credit }}</td>
						<td>{{ customer.Paiement }}</td>
						<td>{{ customer.Compte }}</td>
                        <td>{{ customer.carteFid }}</td>
                    </tr>
				{% endfor %}
			</tbody>
		</table>
	 </div>
	<a class="btn btn-primary" href="{% url 'business-intelligence:get_crm'%}">Update</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:delete_crm'%}">Delete CRM DB</a>
        <a class="btn btn-primary" href="{% url 'business-intelligence:scheduler_crm'%}">Automatically update CRM DB</a>

{% endblock %}
