{% extends 'index.html' %}
{% block content %}

    {% load static %}

    <div class="container-fluid  dashboard-content">
        <h2>Incidents</h2>
         <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Incidents</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">{{ incidents_count }}</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">--%</span>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Client id</th>
                <th scope="col">Montant</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            <tbody>
            {% for incident in incidents %}
                <tr>
                    <td>{{ incident.client_id }}</td>
                    <td>{{ incident.amount }}</td>
                    <td>{{ incident.date }}</td>
                </tr>
            {% endfor %}
            <div class="pagination">
                    <span class="step-links">
                        {% if incidents.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ incidents.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ incidents.number }} of {{ incidents.paginator.num_pages }}.
                        </span>

                        {% if incidents.has_next %}
                            <a href="?page={{ incidents.next_page_number }}">next</a>
                            <a href="?page={{ incidents.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
            </div>
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{% url 'business-intelligence:get_incidents' %}">Update</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:delete_incidents' %}">Delete Incident DB</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:scheduler_incidents' %}">Automatically update Incident
        DB</a>

    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/chartjs.js' %}"></script>

{% endblock %}