{% extends 'index.html' %}
{% block content %}
	<h1>Magasin</h1>
	<div>	

        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Tickets</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">{{ tickets.count }}</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">--%</span>
                    </div>
                </div>
            </div>
        </div>

		<table class="table table-sm">
			<thead>
				<tr>
					<th scope="col">UserID</th>
					<th scope="col">Produit acheté</th>
					<th scope="col">Origine</th>
					<th scope="col">Destination</th>
					<th scope="col">Numéro de suivi</th>
				</tr>
			</thead>
			<tbody>
				{% for ticket in tickets %}
					<tr>
						{% for elem in ticket %}
							<td> {{ elem }} </td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	 </div>
	
	<a class="btn btn-primary" href="{% url 'business-intelligence:get_tickets'%}">Update</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:delete_tickets'%}">Delete Magasin DB</a>
	<a class="btn btn-primary" href="{% url 'business-intelligence:scheduler_tickets'%}">Automatically update Magasin DB</a>
{% endblock %}