{% extends 'index.html' %}
{% block content %}

    {% load static %}

    <div class="container-fluid  dashboard-content">
        <h2 class="mb-2"><b>Magasin</b></h2>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Tickets</h5>
                <div class="card-body">
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">{{ tickets.count }}</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i
                                class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">--%</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Vente de la semaine</h5>
                <div class="card-body">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>

        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Prix</th>
                <th scope="col">Client</th>
                <th scope="col">Points fidélités</th>
                <th scope="col">Mode paiement</th>
                <th scope="col">Articles</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.date }}</td>
                    <td>{{ ticket.prix }}</td>
                    <td>{{ ticket.client }}</td>
                    <td>{{ ticket.pointsFidelite }}</td>
                    <td>{{ ticket.modePaiement }}</td>
                    <td>
                        <ul>
                            {% for article in ticket.articles.all %}
                                <li>
                                    {{ article.codeProduit }}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{% url 'business-intelligence:get_tickets' %}">Update</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:delete_tickets' %}">Delete Magasin DB</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:scheduler_tickets' %}">Automatically update Magasin
        DB</a>

    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/chartjs.js' %}"></script>

    <script>
        let datas = {};
        {% block jquery %}
            let endpoint = '/tickets/data';
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    console.log(data);
                    let ctx = document.getElementById('myChart').getContext('2d');
                    let myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.jours,
                            datasets: [
                                {
                                    label: 'Ventes en promotion',
                                    data: data.promotions,
                                    backgroundColor: 'rgba(255, 99, 132, 1)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1,
                                    fill: false
                                },
                                {
                                    label: 'Ventes hors promotion',
                                    data: data.classics,
                                    backgroundColor: 'rgba(54, 162, 235, 1)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1,
                                    fill: false
                                },
                                                                {
                                    label: 'Ventes',
                                    data: data.total,
                                    backgroundColor: 'rgb(65,235,0)',
                                    borderColor: 'rgb(65,235,0)',
                                    borderWidth: 1,
                                    fill: false
                                },
                            ]
                        }
                    });
                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data);
                }
            });
        {% endblock %}
    </script>
{% endblock %}