{% extends 'index.html' %}
{% block content %}

    {% load static %}

    <div class="container-fluid  dashboard-content">
        <h5>Stock Journalier</h5>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Code Produit</th>
                <th scope="col">Stock Disponible</th>
                <th scope="col">Code Fournisseur</th>
                <th scope="col">Numéro Fournisseur</th>
            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.date }}</td>
                    <td>{{ stock.codeProduit }}</td>
                    <td>{{ stock.stockDisponible }}</td>
                    <td>{{ stock.codeFournisseur }}</td>
                    <td>{{ stock.numeroFournisseur }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/chartjs.js' %}"></script>

{% endblock %}