{% extends 'index.html' %}
{% block content %}

    {% load static %}

    <div class="container-fluid  dashboard-content">
        <h5>Stock Journalier</h5>
        <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Code Produit</th>
                <th scope="col">Stock Disponible</th>
            </tr>
            </thead>
            <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.date }}</td>
                    <td>{{ stock.codeProduit }}</td>
                    <td>{{ stock.quantite }}</td>
                </tr>
            {% endfor %}
            <div class="pagination">
                    <span class="step-links">
                        {% if stocks.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ stocks.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ stocks.number }} of {{ stocks.paginator.num_pages }}.
                        </span>

                        {% if stocks.has_next %}
                            <a href="?page={{ stocks.next_page_number }}">next</a>
                            <a href="?page={{ stocks.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
            </div>
            </tbody>
        </table>
    </div>

    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/chartjs.js' %}"></script>

{% endblock %}