{% extends 'index.html' %}
{% block content %}

    {% load static %}

    <div class="container-fluid  dashboard-content">
        <h2 class="mb-2"><b>Tickets</b></h2>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Tickets</h5>
                    <div class="card-body">
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">{{ ticket_count }}</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i
                                class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">--%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Chiffre d'Affaires</h5>
                    <div class="card-body">
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">{{ chiffre_affaire }} €</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i
                                class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">--%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <h5 class="card-header">Bénéfice</h5>
                    <div class="card-body">
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">{{ benefice }} €</h1>
                        </div>
                        <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        {% if benefice > 0 %}
                            <span class="icon-circle-small icon-box-xs text-success bg-success-light">
                                <i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1"></span>
                        {% else %}
                            <span class="icon-circle-small icon-box-xs text-danger bg-danger-light">
                                <i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1"></span>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <h5 class="card-header">Vente de la semaine</h5>
                <div class="card-body">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>

        <table id="table" class="table table-sm">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Prix</th>
                <th scope="col">Client</th>
                <th scope="col">Points fidélités</th>
                <th scope="col">Mode paiement</th>
                <th scope="col">Origine</th>
                <th scope="col">Articles</th>
            </tr>
            </thead>
            <tbody>
                {% for ticket in tickets %}
                    <tr>
                        <td>{{ ticket.DateTicket }}</td>
                        <td>{{ ticket.Prix }}</td>
                        <td>{{ ticket.Client }}</td>
                        <td>{{ ticket.PointsFidelite }}</td>
                        <td>{{ ticket.ModePaiement }}</td>
                        <td>{{ ticket.Origin }}</td>
                        <td>
                            <ul>
                                {% for article in purchasedArticles %}
                                    {% if article.ticket.id == ticket.id %}
                                        <li>
                                            {{ article.codeProduit }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if tickets.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ tickets.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ tickets.number }} of {{ tickets.paginator.num_pages }}.
                        </span>

                        {% if tickets.has_next %}
                            <a href="?page={{ tickets.next_page_number }}">next</a>
                            <a href="?page={{ tickets.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </tbody>
        </table>
    </div>

    <a class="btn btn-primary" href="{% url 'business-intelligence:get_tickets' %}">Update</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:delete_tickets' %}">Delete Ticket DB</a>
    <a class="btn btn-primary" href="{% url 'business-intelligence:scheduler_tickets' %}">Automatically update Magasin
        DB</a>

    <script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/Chart.bundle.js' %}"></script>
    <script src="{% static 'assets/vendor/charts/charts-bundle/chartjs.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/js/data-table.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/vendor/datatables/js/dataTables.bootstrap4.min.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('#table').DataTable();
        } );

        let datas = {};
        {% block jquery %}

            let endpoint = '/tickets/data';
            $.ajax({
                method: "GET",
                url: endpoint,
                success: function (data) {
                    console.log(data);
                    let ctx = document.getElementById('myChart').getContext('2d');
                    let myChart = new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: data.jours,
                            datasets: [
                                {
                                    label: 'Ventes en promotion',
                                    data: data.promotions,
                                    backgroundColor: 'rgba(255, 99, 132, 1)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1,
                                    fill: false
                                },
                                {
                                    label: 'Ventes hors promotion',
                                    data: data.classics,
                                    backgroundColor: 'rgba(54, 162, 235, 1)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1,
                                    fill: false
                                },
                                {
                                    label: 'Ventes',
                                    data: data.total,
                                    backgroundColor: 'rgb(65,235,0)',
                                    borderColor: 'rgb(65,235,0)',
                                    borderWidth: 1,
                                    fill: false
                                },
                            ]
                        }
                    });
                },
                error: function (error_data) {
                    console.log("error");
                    console.log(error_data);
                }
            });
        {% endblock %}
    </script>
{% endblock %}